* {
    box-sizing: border-box;
}

.body-wrapper {
    width: 100%;
    height: 100%;
    place-content: start space-evenly;
    overflow: hidden;
}

.body-wrapper > div {
    border: 4px solid #2f3542;
    padding: 20px;
    margin: 20px 10%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    background-color: #fff5b3;
}

.tab {
    text-indent: 40px;
}

.semne-info, .semne-circulatie {
    flex: 45%;
    justify-content: center;
}

.semne-info ul {
    list-style: none;
}

#semne-main {
    width: 350px;
    height: 300px;
}

.semne-info p {
    text-indent: 50px;
}

.semne-circulatie ul {
    align-content: center;
}

.semne-circulatie li {
    list-style: none;
    padding: 10px;
    background-color: #ced6e0;
    border: 3px solid #b2bec3;
    border-radius: 10px;
    margin: 10px;
    width: 430px;
    transition: 0.7s;
}

.semne-circulatie li:hover {
    transform: scale(1.04);
    transition: 0.7s;
    border-color: #2ed573;
}

.semne-circulatie li img {
    width: 50px;
    height: 50px;
    vertical-align: middle;
    margin-right: 10px;
}

.semne-circulatie li a {
    display: block;
    text-decoration: none;
    color: black;
    margin-left: 0;
}

.legislatie-info, .legislatie-optiuni {
    flex: 50%;
    padding: 20px;
}

.legislatie-info {
    text-align: center;
}

.inv-list {
    list-style: none;
}

.inv-list li {
    background-color: #ced6e0;
    border: 3px solid #b2bec3;
    border-radius: 10px;
    padding: 0 3px;
    margin: 10px 0;
    transition: 0.7s;
    cursor: pointer;
}

.inv-list li:hover {
    transform: scale(1.04);
    border-color: #2ed573;
    transition: 0.7s;
}

.inv-list li a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 7px;
    margin-left: 0;
}

#cod-rutier {
    width: 300px;
    height: 300px;
}

.container-intrebari {
    display: flex;
}

.container-intrebari-right {
    float: left;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.container-intrebari-right a {
    display: block;
    padding: 10px;
    border: 1px solid black;
    border-radius: 7px;
    width: auto;
    margin: 0 30px;
    text-decoration: none;
    color: #f5f6fa;
    transition: .4s linear;
    background-color: #192a56;
}

.container-intrebari-right a:hover {
    transform: scale(1.02);
    transition: .4s linear;
}

.container-intrebari-right div {
    padding: 10px;
    color: red;
    display: block;
    -webkit-text-stroke-width: 1px;
    font-size: 18px;
}

.container-intrebari-right .completed {
    color: #00bd00;
    -webkit-text-stroke-color: #00bd00;
}

.container-intrebari-right .not-logged {
    color: red;
    -webkit-text-stroke-color: red;
}

.container-intrebari-left {
    float: left;
    flex: 1;
    padding: 20px 30px;
}

@media screen and (max-width: 1200px) {
    .container-intrebari-right, .container-intrebari-left {
        flex: 100%;
    }

}

@media screen and (max-width: 850px) {

    .semne-circulatie li {
        align-self: center;
    }

    .legislatie-info, .legislatie-optiuni {
        flex: 100%;
        flex-direction: column;
    }

}