.body-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-flow: row;
    flex-direction: row;
}

.title {
    height: 100px;
    text-align: center;
    margin: auto;
    align-content: center;
}

.left-table, .right-table {
    flex: 50%;
    text-align: center;
    max-height: 300px;
    overflow: auto;
    box-sizing: border-box;
    padding: 40px;
    margin: 0 50px 50px;
    width: 100%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    width: 100%;
}

tr {
    background-color: #ecf0f1;
}

tr:nth-child(odd) {
    background-color: #95a5a6;
}

th, td {
    padding: 5px;
}

th {
    height: 40px;
    background-color: #2980b9;
    text-align: center;
}

.left-table {
    float: left;
    justify-content: center;
}

.right-table {
    float: right;
}

@media screen and(max-width: 1200px) {
    .left-table, .right-table {
        flex: 100%;
    }
}