.site-footer
{
    background-color: black;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
    display: list-item;

}
.site-footer .row
{
    display: flex;
   
}

.site-footer hr
{
    border-top-color: #bbb;
    opacity: 0.5;
    display: flex;
}
.site-footer hr.small
{
    margin: 20px 0;
}

.site-footer a
{
    color:#737373;
}
.site-footer a:hover    
{
    color: #3366cc;
    text-decoration: none;
}
.footer-links
{
  padding-left: 0;
  list-style: none;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
}
.footer-links li
{
    display: flex;
    align-items: flex-start;
}

.footer-links a
{
    color: #737373;
   margin-left: 10px;
}
.footer-links a svg{
  color: pink;
  width: 30px;
}
.footer-links a:active,.footer-links
a:focus,.footer-links a:hover
{
    color: #3366cc;
    text-decoration: none;
}


.footer-links.inline li
{
    display: flex ;
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text
  {
    text-align:center
  }
}