body {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background: none;
}
.gallery {
        width: 30%;
        margin: 5px;
}
.gallery img {
    width: 100%;
    border-radius: 5px;
    max-height: 450px;
}
.about {
    width: 70%;
    display: flex;
    padding-left: 15px;
    background:#fff5b3;
    margin: 5px;
    border-radius: 5px;
    height: fit-content;
}
.description {
    margin-top:10px;
    padding: 40px 20px 40px 20px;
}
.about p {
    font-size: 24px;
    text-align: justify;
    margin-top:8px;
}

.highscores-container {
    margin: 20px 20px 0px 0px;
}
.highscores-container .highscores {
    width:250px;
}
.highscores-container .highscores p {
    margin-bottom: 10px;
    text-align: center;
}
table {   
    border-collapse: collapse;
}
table tr:nth-child(even) {
    background-color: #ffe11b;
  }
table td, table th {
    border: 1px solid #ffe11b;
    text-align: center;
    padding: 2px 8px;
}
.description .main-button {
    margin-top: 40px;
}

@media (max-width:800px) {
    body {
        flex-direction: column-reverse;
    }
    .gallery {
        width: calc(100% - 10px);
    } 
    .description {
        padding: 10px;
    }
    .description p {
        font-size: 16px;
    }
    .about {
        width: calc(100% - 10px);
        padding-left: 0;
    } 
    .highscores {
        padding: 0;
    }
  }

  @media (max-width:600px)
  {
      .about {
        display: flex;
        flex-direction: column;
      }
      .highscores {
            width: 80% !important;
            margin: 10%;
      }
      .highscores-container {
          margin: 0;
      }
      table {
          width:100%;
      }
      .description {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
  }