.content {
  display: flex;
  margin: auto;
  max-width: 1200px;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}

.col {
  flex: 50%;
  max-width: 320px;
  padding: 10px;
  margin: 20px;
  box-sizing: border-box;
}

.col-content {
  background-color: red;
  padding: 40px 20px;
  margin: 10 40px;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width:800px) {
  .col {
    flex: 100%;
  }
}
