.main-nav {
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #2f3542;
  text-decoration: none;
}

.nav-img {
  width: 25%;
  height: auto;
}

.nav-btns {
  width: 50%;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}

.nav-btns a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  height: inherit;
  padding: 14px 16px;
  margin: auto;
  border: 1px solid #ced6e0;
  transition: 0.3s;
}

.nav-btns a:hover {
  background-color: #57606f;
  transition: 0.3s;
}

.settings-btns {
  background-color: blue;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}
